/* CSS Selector */
body {
  /* CSS Declaration */
  /* CSS Rule property:value; */
  background-color: rgba(0, 0, 0, 0.934);
  color: lightslategray;
}

img {
  max-width: 100%;
}

header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
 background: url("Camino.jpg") no-repeat center;
 background-size: cover;
  
}

.headerLogo {
  /* Shorthand */
  border: 4px lightslategray solid;

  padding: 10px;
  margin: 10px;
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: lightslategray;
}

.navigationList {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
button {
  background-color: rgba(0, 0, 0, 0.486);
  border: none;
  color: lightgray;
  padding: 10px 15px;
  text-align: center;
  text-decoration: dotted;
  display: inline-block;
  font-size: 16px;
}

.hero {
  
}